{% extends "common/layout.html" %}
{% block 'content' %}


<style>
    .top-message{
        padding: 23px;
        border: 1px solid #dedede;
        margin: 20px;
        border-radius:8px;
    }

</style>


<div class="container">
    <div class="row">
        <div class="col" >
            <div class="top-message">
            </div>
        </div>
    </div>

    <div class="row">
        <div style="padding-bottom: 30px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
<!--                            <button type="button" class="btn btn-danger btn-sm" id="update_mute">更新禁言信息</button>-->
<!--                            <button type="button" class="btn btn-danger btn-sm" id="remove_mute">解除禁言</button>-->
                        </th>
                    </tr>





                    <tr>
                        <th scope="col">群发禁言（{{ context.session_number_count }}）个</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in context.session_number %}
                    <tr>
                        <td>
                            {{ i.session_string }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div style="height:50px;"></div>
</div>


<style>
    $(function(){

        //$("#update_mute").


    });




</style>


{% endblock 'content' %}