{% extends "common/layout.html" %}
{% block 'content' %}

<style>
    #console-log{
        max-height:860px;
        overflow:auto;
    }

    #console-log::-webkit-scrollbar-track {
        background-color: #dee2e6;
    }

    #console-log::-webkit-scrollbar {
        width: 8px;
    }

    #console-log::-webkit-scrollbar-thumb {
        background-color: #adb5bd;
        border-radius: 15%;
    }

    .input-group-text{
        width:160px;
    }

</style>

<div class="container-fluid">

    <div class="container p-5 my-5 border">


    <form class="row g-3" action="{% url 'channel_join' %}" method="post">
       <div class="g-3 row">
        </div>

        <div class="g-3 row">
            <div class="input-group">
                <span class="input-group-text">加群间隔</span>
                <input type="text" class="form-control" value="{{ context.channel_join_config.sleep_time }}" name="sleep_time" id="sleep_time">
                <span class="input-group-text">秒</span>
            </div>
        </div>

        <div class="g-3 row">
            <div class="input-group">
                <span class="input-group-text">加群工作状态</span>

                <select class="form-select" aria-label="Default select example" name="StartGroupJoinTask" id="StartGroupJoinTask">
                    {% if context.channel_join_config.StartGroupJoinTask == '2' %}
                        <option selected value="2">停止</option>
                    {% else %}
                        <option value="2">停止</option>
                    {% endif %}


                    {% if context.channel_join_config.StartGroupJoinTask == '1' %}
                        <option value="1" selected>开始</option>
                    {% else %}

                        <option value="1">开始</option>
                    {% endif %}


                </select>


<!--                <input type="text" class="form-control" value="{{ context.config.StartGroupSendTask }}" name="StartGroupSendTask" id="StartGroupSendTask">-->
            </div>
        </div>




        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">保存</button>
        </div>

    </form>



    </div>



    <div class="container p-5 my-5 border" id="console-log"></div>
    <div style="height:50px;"></div>
</div>

<script>

    function addZero(s){
        return s<10 ? ('0'+s):s;
    }



    function getNowTime(){
        date = new Date();

        // 年
        var year = date.getFullYear();
        var month = date.getMonth();
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();


        return year + "-" + addZero(month) + "-" + addZero(day) + " " + addZero(hour) + ":" + addZero(minute) + ":" +addZero(second);
    }







    var channelSend = {}

    channelSend.sleep_time = $("#sleep_time").val() * 1000;

    $(function(){



            // 获取账号  开始分发任务
            channelSend.init_joinChannel = function(){

                // $.post("{% url 'get_joinchannel' %}", {}, function(result){

                //     console.log(result);
                //     if (result['status'] == true) {

                //         $("#console-log").prepend("<p>"+getNowTime()+" 本轮工作账号： "+result.list.length+" 个</p>");

                //         channelSend.joinchannel_start(result['list'])
                //     } else {
                //         setTimeout(function(){ channelSend.init_joinChannel() }, 10000);
                //     }

                // },'json')




                $.ajax({
                    url:"{% url 'get_joinchannel' %}",
                    error:function(xhr){
                        $("#console-log").prepend("<p>"+getNowTime() + "错误提示： " + xhr.status + " " + xhr.statusText +"</p>");
                        setTimeout(function(){ channelSend.init_joinChannel() }, 10000);
                    },
                    async:true,
                    success:function(result){

                        console.log(result);
                        if (result['status'] == true) {

                            $("#console-log").prepend("<p>"+getNowTime()+" 本轮工作账号： "+result.list.length+" 个</p>");

                            channelSend.joinchannel_start(result['list'])
                        } else {
                            setTimeout(function(){ channelSend.init_joinChannel() }, 10000);
                        }
                    },
                    timeout:60000,
                    dataType:"json",
                    type:"POST",
                    data:{},

                });

            }


            channelSend.joinchannel_start = function(number_list=[]){


                if ($.isArray(number_list) != true) {

                    setTimeout(function(){
                        $("#console-log").prepend("<p>"+getNowTime()+" 本轮工作结束，5秒后开始新一轮任务</p>");
                        channelSend.init_joinChannel()
                    }, 5000);
                    return false;
                }


                if (number_list.length <= 0) {

                    setTimeout(function(){
                        $("#console-log").prepend("<p>"+getNowTime()+" 本轮工作结束，5秒后开始新一轮任务</p>");
                        channelSend.init_joinChannel()
                    }, 5000);
                    return false;
                }



                var Work_number = number_list.shift();
                console.log(Work_number);


                // $("#console-log").prepend("<p>"+getNowTime()+" 账号： " + Work_number.session_string + " 开始发消息</p>");
                // $.post("{% url 'channel_joinsubmit' %}", {session_string:Work_number.session_string}, function(result){


                //     var string = getNowTime()+" 账号： " + Work_number.session_string

                //     if (result.status === false) {
                //         string = string + " → 加群失败：" + result.message;
                //     } else {
                //         string = string + " → " + result.message
                //     }
                //     $("#console-log").prepend("<p>"+string+ " </p>");



                //     console.log(result);

                //     setTimeout(function(){


                //         channelSend.joinchannel_start(number_list)
                //     }, channelSend.sleep_time);

                // },'json')



                $.ajax({
                    url:"{% url 'channel_joinsubmit' %}",
                    error:function(xhr){
                        $("#console-log").prepend("<p>"+getNowTime() + "错误提示： " + xhr.status + " " + xhr.statusText +"</p>");
                        setTimeout(function(){ channelSend.joinchannel_start(number_list); }, 10000);
                    },
                    async:true,
                    success:function(result){

                        var string = getNowTime()+" 账号： " + Work_number.session_string

                        if (result.status === false) {
                            string = string + " → 加群失败：" + result.message;
                        } else {
                            string = string + " → " + result.message
                        }
                        $("#console-log").prepend("<p>"+string+ " </p>");

                        console.log(result);

                        setTimeout(function(){
                            channelSend.joinchannel_start(number_list)
                        }, channelSend.sleep_time);
                    },
                    timeout:60000,
                    dataType:"json",
                    type:"POST",
                    data:{session_string:Work_number.session_string},

                });





                return true;


            };




            var StartGroupJoinTask = $("#StartGroupJoinTask").val();
            console.log(StartGroupJoinTask)
            if (StartGroupJoinTask == '1'){ // 任务开启工作
                // 间隔时间

                setTimeout(function(){ channelSend.init_joinChannel() }, 3000);

            }






    })


</script>




{% endblock 'content' %}